adjustText==0.8
apex==0.9.10dev
beautifulsoup4==4.12.2
click==8.1.7
conv==0.2
cryptography==41.0.5
dlib==19.24.2
easydict==1.10
facenet_pytorch==2.5.3
h5py==3.10.0
ignite==1.1.0
imageio==2.31.6
ipdb==0.13.13
kornia==0.7.0
lmdb==1.4.1
matplotlib==3.8.1
ml_collections==0.1.1
monai==1.3.0
moviepy==1.0.3
numpy==1.24.1
opencv_contrib_python_headless==4.8.0.76
pandas==2.1.2
Pillow==9.3.0
psutil==5.9.0
pyspng==0.1.1
PyYAML==6.0.1
Requests==2.31.0
rich==13.6.0
scikit_learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
six==1.16.0
scikit-image
tensorboard==2.15.0
tensorboardX==2.6.2.2
timm==0.9.8
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
turbojpeg==0.0.2
wandb==0.15.12
