generation/
temp/
__pycache__
.idea/
*.tar.gz
*.zip
*.pkl
*.py[cod]


# ignore all and only keep to python files in the root directory
/*
!.gitignore
!*.py
!*.sh
!environment.yml
!README.md

!start_imgs

!ccs19_model_inversion/
ccs19_model_inversion/data/

!scripts

tmp/
*.pth
*.pt


*.sw[pon]

!/genforce/
/genforce/data/
/genforce/work_dirs/
/genforce/*/*.jpg
/genforce/*/*.png
/genforce/*/*.jpeg
/genforce/*/*.gif
/genforce/*/*.avi
/genforce/*/*.mp4

/genforce/*/*.npy
/genforce/*/*.txt
/genforce/*/*.json
/genforce/*/*.log
/genforce/*/*.html
/genforce/*/*.tar
/genforce/*/*.zip
/genforce/*/events.*

*.pkl
*.h5
*.dat
